{% load static %}
{% load leaflet_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Project{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'account' %}">Account</a></li>
              <li><a href="{% url 'edit_account' %}">Edit Account</a></li>
              <li class="right"><a href="{% url 'logout' %}">Log out</a></li>
            {% else %}
              <li class="right"><a href="{% url 'login' %}">Log in</a></li>
              <li class="right"><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
          </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>