{% extends 'base.html' %}

{% load static %}
{% load leaflet_tags %}

{% block content %}
  <h1>User locations</h1>

  <div id="map" style="height: 100vh;"></div>

  <script src="{% static 'leaflet/leaflet.js' %}"></script>
  <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">

  <script>
    var map = L.map('map').setView([0, 0], 2);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);

    {% for account in accounts %}
      {% if account.location %}
        var marker = L.marker([{{ account.location.y }}, {{ account.location.x }}]).addTo(map);

        marker.bindPopup("<b>{{ account.user.username }}</b><br>{{ account.home_address }}<br>{{ account.phone_number }}");
      {% endif %}
    {% endfor %}
  </script>
{% endblock %}
